@import "tailwindcss";

a {
  text-decoration: none;
  color: inherit;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.starability-result {
  background-image: url("../icons/icons.svg");
}

.hide-scrollbar::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.mapboxgl-canvas {
  border-radius: 0.5rem;
}

/* D:\Web_Dev\backends\airbnb-clone frontend\src\index.css */